{% extends 'base.html.twig' %}

{% block title 'Change Password' %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto ">
			<h1 class="text-center">Change password</h1>

			{{form_start(form)}}
			{{form_widget(form)}}

			<button type="submit" class="btn btn-primary  btn-lg col-12">Update Password</button>
			{{form_end(form)}}
		</div>
	</div>

{% endblock %}
