{% extends 'base.html.twig' %}

{% block title 'Reset your passwor' %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1 class="mt-5 mb-3 text-center">Reset your password</h1>
			{% for flash_error in app.flashes('reset_password_error') %}
				<div class="alert alert-error mb-3 rounded" role="alert">{{ flash_error }}</div>
			{% endfor %}
			<p class="text-center text-muted">
				Enter your email address and we will send you a
																																																                link to reset your password.
			</p>

			{{ form_start(requestForm) }}
			{{ form_row(requestForm.email) }}
			<div></div>

			<button type="submit" class="btn btn-primary btn-lg col-12">Send password reset email</button>
			{{ form_end(requestForm) }}

		</div>

	</div>

{% endblock %}
